@using SmartSale.Models.TransportModels
<!DOCTYPE HTML>
<html>
<head>
    <title>The Free Smart-Sale Website Template | Index :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Asset/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Asset/css/PagePartionStyle.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed' rel='stylesheet' type='text/css'>
    <link href="~/Asset/table.css" type='text/css' rel="stylesheet" />
    <link href="~/Asset/css/table.css" rel="stylesheet" />
    <script src="~/Asset/js/Pay.js"></script>
</head>
<body>
    <div class="wrap">
        @Html.Partial("header")
        @Html.Partial("header_bottom")
        <div class="main">

            @Html.Action("sidebar", "Common")
            @RenderBody();
            <div class="clear"></div>
        </div>
    </div>
    @Html.Partial("footer")
</body>
</html>